<header>
  <mat-toolbar color="basic">
    <mat-toolbar-row>
      <div class="title-menu-items">
        <span class="title-header">{{ titlePage }}</span>
        <div class="menu-itens" *ngIf="!isScreenSmall">
          <button mat-stroked-button color="basic" (click)="selectPage(listTypePages.postagens)">
            <mat-icon>local_post_office</mat-icon
            >Postagens
          </button>
          <button mat-stroked-button color="basic" (click)="selectPage(listTypePages.albuns)">
            <mat-icon>album</mat-icon>Albuns
          </button>
          <button mat-stroked-button color="basic" (click)="selectPage(listTypePages.todos)">
            <mat-icon>schedule</mat-icon>TO-DOs
          </button>
        </div>
        <mat-icon class="menu-itens-small" *ngIf="isScreenSmall" [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu">
          <ng-template ngFor let-page [ngForOf]="getArrayPages">
            <button mat-menu-item (click)="selectPage(page.slug)">{{ page.name }}</button>
          </ng-template>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    <mat-form-field appearance="fill">
      <mat-label>{{ titlePage }}</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </mat-toolbar>
</header>
