<header>
  <mat-toolbar color="basic">
    <mat-toolbar-row>
      <div class="title-menu-items">
        <span class="title-header">{{ titlePage }}</span>
        <div class="menu-itens" *ngIf="!isScreenSmall">
          <ng-template ngFor let-page [ngForOf]="listPages">
            <button mat-stroked-button color="basic" (click)="selectPage(page.slug)">
              <mat-icon>local_post_office</mat-icon
              >{{ page.name }}
            </button>
          </ng-template>
        </div>
        <mat-icon class="menu-itens-small" *ngIf="isScreenSmall" [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu">
          <ng-template ngFor let-page [ngForOf]="listPages">
            <button mat-menu-item (click)="selectPage(page.slug)">{{ page.name }}</button>
          </ng-template>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Buscar {{ titlePage }}</mat-label>
      <input [(ngModel)]="searchItem" (input)="searchOptions()" matInput />
    </mat-form-field>
  </mat-toolbar>
</header>
